# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/anime-db

# ZenRows (Isse video links milenge)
SOURCE_API_KEY=700c782d212580adba1fd15d82df6257ecb8701c
SOURCE_API_URL=https://api.zenrows.com/v1/

# Streamtape (Video Store karne ke liye)
STREAMTAPE_LOGIN=d3f8bfe5641fe0077596
STREAMTAPE_KEY=0AWzYr6lmpsb38z

# Config
PORT=3000
CRON_ENABLED=true
SERIES_URLS=https://www.animedubhindi.me/your-anime-link
